@import "tailwindcss";
@source "../views";
/* @plugin "daisyui"; */
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: true;
}

@theme {
    --font-family-sans:
        "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Screen Breakpoints */
    --breakpoint-xs: 420px;
    --breakpoint-sm: 680px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

#app {
    @apply h-[100vh];
}

.EmojiPickerReact.epr-dark-theme {
    background-color: theme("colors.gray.800");
}
.EmojiPickerReact.epr-dark-theme .epr-emoji-category-label {
    background-color: theme("colors.gray.900");
}

.conversation-item .avatar.avatar-online::before,
.conversation-item .avatar.avatar-offline::before {
    @apply absolute top-[1%] right-[-1%] h-[10px] w-[10px] outline-1;
    /* width: 8px;
    height: 8px;
    top: 1%;
    right: 1%; */
    /* outline-width: 1px; */
}

.chat-message-content > blockquote,
.chat-message-content > dl,
.chat-message-content > dd,
.chat-message-content > h1,
.chat-message-content > h2,
.chat-message-content > h3,
.chat-message-content > h4,
.chat-message-content > h5,
.chat-message-content > h6,
.chat-message-content > figure,
.chat-message-content > p,
.chat-message-content > pre {
    margin-top: 0px;
    margin-bottom: 5px;
}

.chat-message-content ol,
.chat-message-content ul {
    margin: revert;
    list-style: revert;
    padding: revert;
}

.chat-message-content > table {
    border-collapse: revert;
}

.chat-message-content > h1,
.chat-message-content > h2,
.chat-message-content > h3,
.chat-message-content > h4,
.chat-message-content > h5,
.chat-message-content > h6 {
    font-size: revert;
    font-weight: revert;
}

.chat-message-content a {
    text-decoration: underline;
    color: azure;
}

.chat-message-content > :first-child {
    margin-top: 0px;
}
.chat-message-content > :last-child {
    margin-bottom: 0px;
}
.chat-message-content > blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.chat-message-content code {
    font-family: "Courier New", monospace;
    font-style: italic;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 90%;
    background-color: rgba(0, 0, 0, 0.1);
}
.chat-message-content pre {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    white-space: no-wrap;
    overflow-x: auto;
    font-style: italic;
    border-radius: 0.5rem;
}
.chat-message-content pre code {
    background-color: transparent;
}
